.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition:  2s;
}

.ex-2-square:active {
    width: 1000px;
}

.ex-3-square {
    transition:  3s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition:  5s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: all 1s, 
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}
 
.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img{
    transition: all 5s;
}

.ex-7-img:hover {
    filter: invert(100%);
    transform: rotate(180deg);
}

.ex-8-img{
    transition: all 5s;
}

.ex-8-img:hover {
    filter: brightness(0.25);
    transform: skewY(20deg);
    border-radius: 50%;
}

.ex-9-img{
    transition: all 5s;
}

.ex-9-img:hover {
    filter: sepia(0.5) contrast(0.75);
    border-radius: 50%;
    transform: scale(0.75); 
}
/* 
.ex-10-icon {
   animation: spin 10s infinite linear;
} */

.ex-10-icon {
    animation: rotate 10s infinite linear;
 }

/* @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} */

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.ex-11-icon:hover {
   
    animation: circle-reverse 3s 1 ease-in-out;
}

 
 
 @keyframes circle-reverse {
     0% {
         transform:rotate(0deg);
     }
     80%{
         transform:rotate(270deg);
     }


    100%{
        transform:rotate(0deg);
    } 
 } 


.ex-12-top-white {
    animation: rotate 4s infinite linear;
}

.ex-12-bottom-white {
    animation: rotate-2 4s infinite linear;
}

 
 
 @keyframes rotate {
     0% {
        
         left : 10%;
     }
     25%{
        
        left : 30%;
     }

    75%{
        
        left: 70%;
    } 

    100% {
        left: 10%
    }
 } 

  
 @keyframes rotate-2 {
    0% {
       
        right : 10%;
    }
    25%{
       
       right : 30%;
    }

   75%{
       
       right: 70%;
   } 

   100% {
       right: 10%
   }
} 

.ex-13-top-white {
    animation: top-around 5s infinite;
}

@keyframes top-around {
    0% {
       
        top: -10px;
        left: 10%;
    }
    20%{
       
        top: -10px;
        left: calc(100% - 30px);
    }

   40%{
       
       top: calc(100% - 10px);
       left: calc(100% - 30px);
   } 

   60%{
       
    top: calc(100% - 10px);
    left: -30px;
} 

80%{
    top: -10px;
    left: -30px;
} 

100% {
       
    top: -10px;
    left: 10%;
}


} 

.ex-13-bottom-white {
    animation: bottom-around 5s infinite;
}

@keyframes bottom-around {
    0% {
       
        bottom: -10px;
        right: 10%;
    }
    20%{
       
        bottom: -10px;
        right: calc(100% - 30px);
    }

   40%{
       
    bottom: calc(100% - 10px);
    right: calc(100% - 30px);
   } 

   60%{
       
    bottom: calc(100% - 10px);
    right: -30px;
} 

80%{
    bottom: -10px;
    right: -30px;
} 

100% {
       
    bottom: -10px;
    right: 10%;
}


} 